// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
button {
    margin: 4px;
    cursor: pointer;
  }
  input {
    text-align: center;
    width: 40px;
    margin: 4px;
    color: salmon;
  }

.btn-form-control {
  width: 25%;
}

.form-ctrl {
  width: 40%;
  color: black;
}