// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pass-field {
    //padding: 1rem; //!important;
    width: 25%;
    //padding: 20rem;
    color: black;
}
.signup-btn {
    //padding: 1rem; !important;
    width: 10%;
    //padding: 20rem;
    color: black;
}

.info-field {
    //padding: 20rem;
    width: 25%;
    color: black;
}
.login-form {
    //padding: 20rem;
    width: 25%;
    color: black;
}