<h1>Food Inventory Tracker</h1>
<h2> Intro: </h2>
<p> This program was originally designed to help food pantries and distribution centers to track their inventory. </p>
<p> - The main functionality of the program was that the user will be able to view other food pantries inventory just in case they are low on inventory themselves. </p>
<p> - For example, if food pantry #1 ran out of vegetables to give to its recipients, </p>
<p> - they would be able to go on the website and check if food pantry #2 has enough vegetables. </p>
<p> - Food pantry #1 would send a request to #2 asking if they could handle a couple more recipients. </p>
<p> - If the request is accepted, then food pantry #1 would redirect some of its recipients to food pantry #2 so they don't have to spend time with no food. </p>
<h3> How it works: </h3>
<h4> When not logged in: </h4>
<p> the home page has a button that allows the user to lookup food pantries near them. </p>
<h4> When logged in: </h4>
<p> - The user can view their own inventory. </p>
<p> - When the user clicks on inventory they would be presented with two options: "View inventory" to view their own inventory, or "Users" to view other users inventory </p>
<p> - They can also add products, delete, show, and edit products. </p>
<p> - To track a distribution of a product, the user will go to inventory, then click on show After that a counter would show up on the bottom where every plus adds 1 and ever minus subtracts 1 from the total. </p>
<p> - To avoid updating the page every time, the user would be able to keep track and then once they are done, </p>
<p> - they would see the number in the box and click on edit to edit it quickly and replace the quantity value with the new value. </p>
<p> - When clicking on "Users" in the inventory page, the user will be presented with all the users that use the system where they can click on any one of them to view their inventory.</p>
