<h1>Food Inventory Tracker</h1>
<p>This application is in the process of being built in order to help food pantries track their
inventory and their reciepients.</p>
<h3> How to Use: </h3>
<p> This program will allow you to sign up to then later have the ability to view 
and store your inventory. There is a button on the invenotry page where a user can view
other food pantries inventory if approved; in case they are running low on inventory. </p>