<h1 style="color:powderblue;text-align:center;"><strong>Food-Inventory-Tracker</strong></h1>

<P> </p>
<br/>
<br/>

<body class="container welcome">
    <div style="text-align:center">    
        <a class="btn btn-primary btn-lg" target = "_blank" href="https://www.google.com/maps/search/Food+Pantries+Near+Me/" role="button">Find Food Pantries Near Me</a>
    </div>
</body>