<h1>This is the inventory page</h1> <br/>

<p> <button type="button" class="btn btn-primary btn-block active" onclick="window.location.href='/products'">View Inventory</button></p>
<br/>
<div>
<p>
<%= link_to "Users", "/users", class: 'btn btn-light btn-block active' %>
</p>
</div>