<h5><%= @user.id%></h5>
<%# render 'products', @user %>

<h1> <%= @user.full_name %> </h1>
<%#= controller.redirect_to products_path(:@num => 2) %>
<h2>Bio</h2>
<p><%# @user.bio %></p>
<% if current_user.id == @user.id %>
    <%#= link_to 'Edit My Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
<% end %>